.navbar {
  width: 100%;
  background-color: #343a40;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  gap: 10px;
}
nav a {
  font-size: 28px;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.25rem;
}
.navbar-nav {
  width: 100%;
  justify-content: center;
}
.nav-item button {
  background-color: white;
  color: black !important;
  margin-right: 5px;
  font-size: 0.875rem;
}
.nav-item button:hover {
  background-color: #f8f9fa;
}
.logout-btn {
  background-color: white;
  color: rgb(36, 17, 17);
  border: none;
  width: auto;
  padding: 0.375rem 0.75rem;
  display: inline-block;
}

.logout-btn:hover {
  background-color: #f8d7da;
}

.content {
  margin-top: 80px;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header-container .controls {
  margin-top: 50px;
}
.header-container h2 {
  font-size: 1.5rem;
  margin-right: 20px;
  margin-top: 50px;
}
.header-container .search-bar {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.header-container .form-control {
  height: calc(2em + 0.75rem + 2px);
  width: 200px;
}
.header-container .btn {
  height: calc(2em + 0.75rem + 2px);
  margin-left: 10px;
}

.table-container {
  width: 100%;
}

.container-fluid {
  max-width: 1500px;
}

.btn {
  font-size: 1rem;
  padding: 0.6rem 1rem;
}
.navbar .navbar-header {
  text-align: left;
  flex: 1;
}

.navbar .menu-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-right: 10px;
}

.navbar .logout-btn {
  background-color: white;
  color: rgb(32, 26, 26);
  border: none;
  margin-left: auto;
}
.ol-scale-line {
  bottom: 10px;
  right: 10px;
}
.error-message {
  color: rgb(34, 27, 27);
  font-weight: bold;
  margin-top: 10px;
}
.header-container button {
  color: white;
  background-color: rgb(32, 31, 31);
  border: none;
}

.search-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}
.search-bar input.form-control,
.search-bar button {
  height: calc(2.25rem + 2px);
  line-height: 1.5;
}

.search-bar button {
  padding: 0.375rem 0.75rem;
}
.page-link {
  color: white;
  background-color: #343a40 !important;
  color: #fff !important;
  border: 1px solid;
  border-color: #fff !important;
  cursor: pointer;
  font-size: 10px;
  padding: 5px 8px;
  margin: 0 2px;
}
.modal-header .bg-black {
  background-color: #3a4045d0;
}
.modal-header.bg-success {
  background-color: #28a745;
}
.modal-header.bg-danger {
  background-color: #dc3545;
}
.modal-header .btn-close {
  color: white;
}
