<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Tasinmaz</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Taşınmaz Güncelle</h2>
        <div class="menu-btns">
          <button class="menu-btn">
            <i class="fas fa-history"></i> Log İşlemleri
          </button>
          <button class="menu-btn">
            <i class="fas fa-users"></i> Kullanıcı İşlemleri
          </button>
          <button class="menu-btn">
            <i class="fas fa-building"></i> Mevcut Taşınmazlar Listesi
          </button>
        </div>
      </div>
      <form [formGroup]="tasinmazForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="il">İl:</label>
          <select id="il" formControlName="ilId" (change)="onIlChange($event)">
            <option *ngFor="let il of iller" [value]="il.id">
              {{ il.ilAdi }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="ilce">İlçe:</label>
          <select
            id="ilce"
            formControlName="ilceId"
            (change)="onIlceChange($event)"
          >
            <option *ngFor="let ilce of ilceler" [value]="ilce.id">
              {{ ilce.ilceAdi }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="mahalle">Mahalle:</label>
          <select id="mahalle" formControlName="mahalleId">
            <option *ngFor="let mahalle of mahalleler" [value]="mahalle.id">
              {{ mahalle.mahalleAdi }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="ada">Ada:</label>
          <input id="ada" type="text" formControlName="ada" placeholder="Ada" />
        </div>

        <div class="form-group">
          <label for="parsel">Parsel:</label>
          <input
            id="parsel"
            type="text"
            formControlName="parsel"
            placeholder="Parsel"
          />
        </div>

        <div class="form-group">
          <label for="koordinat">Koordinat:</label>
          <input
            id="koordinat"
            type="text"
            formControlName="koordinat"
            placeholder="Koordinat"
          />
        </div>
        <div class="form-group">
          <label for="adres">Ntelik:</label>
          <input
            id="nitelik"
            type="text"
            formControlName="nitelik"
            placeholder="Nitelik"
          />
        </div>

        <div class="form-group">
          <label for="adres">Adres:</label>
          <input
            id="adres"
            type="text"
            formControlName="adres"
            placeholder="Adres"
          />
        </div>

        <button type="submit">Güncelle</button>
      </form>
    </div>
  </body>
</html>
