<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yeni Tasinmaz</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <button class="close-btn">
        <i class="fas fa-times"></i>
      </button>
      <div class="header">
        <h2>Yeni Taşınmaz Ekle</h2>
        <div class="menu-btns">
          <button class="menu-btn">
            <i class="fas fa-history"></i> Log İşlemleri
          </button>
          <button class="menu-btn">
            <i class="fas fa-users"></i> Kullanıcı İşlemleri
          </button>
          <button class="menu-btn">
            <i class="fas fa-building"></i> Mevcut Taşınmazlar Listesi
          </button>
        </div>
      </div>
      <div class="form-container">
        <div class="left-column">
          <div class="input-group">
            <i class="fas fa-info-circle info-icon"></i>
            <input type="text" placeholder="İl" />
          </div>
          <div class="input-group">
            <i class="fas fa-info-circle info-icon"></i>
            <input type="text" placeholder="İlçe" />
          </div>
          <div class="input-group">
            <i class="fas fa-info-circle info-icon"></i>
            <input type="text" placeholder="Mahalle" />
          </div>
          <div class="input-group">
            <i class="fas fa-info-circle info-icon"></i>
            <input type="text" placeholder="Ada" />
          </div>
          <div class="input-group">
            <i class="fas fa-info-circle info-icon"></i>
            <input type="text" placeholder="Parsel" />
          </div>
          <div class="input-group">
            <i class="fas fa-info-circle info-icon"></i>
            <input type="text" placeholder="Nitelik" />
          </div>
        </div>

        <div class="right-column">
          <div class="input-group">
            <i class="fas fa-info-circle info-icon"></i>
            <textarea placeholder="Adres"></textarea>
          </div>
          <button class="submit-btn">Ekle</button>
        </div>
      </div>
    </div>
  </body>
</html>
