<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taşınmaz Yönetim Girişi</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Taşınmaz Yönetim Girişi</h2>
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="form-group">
              <i class="fa-solid fa-user"></i>
              <input
                type="email"
                name="email"
                #email="ngModel"
                [(ngModel)]="model.email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Email Adresi"
                required
                autofocus
              />
            </div>
            <div class="form-group">
              <i class="fa-solid fa-key"></i>
              <input
                type="password"
                name="password"
                #password="ngModel"
                [(ngModel)]="model.password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Şifre"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
