body {
  margin: 0;
  height: auto;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  padding: 0;
}

.menu-btns {
  display: flex;
  gap: 10px;
}

.menu-btn {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba(0, 0, 0, 0.8);
}

.menu-btn i {
  font-size: 14px;
}

.form-group {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

form {
  padding-top: 50px;
}

.form-group i {
  font-weight: bold;
  margin-bottom: 5px;
  width: 30px;
  align-items: center;
  display: flex;
}

input[type="email"],
[type="password"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: #0a54f5;
  color: white;
  padding: 7px;
  border: 1px solid #ddd;
  cursor: pointer;
  float: right;
  margin-right: 470px;
  border-radius: 10px;
}
